@{
    ViewData["Title"] = "Home Page";
}

<div class="row grid intro-banner-group pt-1 appear-animate">
    <div class="grid-item grid-item1 intro-slide-wrapper col-lg-8 height-x3">
        <div class="swiper-container swiper-theme pg-inner pg-white animation-slider h-100 br-sm"
             data-swiper-options="{
                                'spaceBetween': 0,
                                'slidesPerView': 1,
                                'autoplay': {
                                    'delay': 8000,
                                    'disableOnInteraction': false
                                }
                            }">
            <div class="swiper-wrapper row gutter-no cols-1">
                <div class="swiper-slide banner banner-fixed intro-slide intro-slide1 br-sm"
                     style="background-image: url(assets/images/slides/slide01.png); background-color: #D9E0E6;">
                    <div class="banner-content y-50">
                        <div class="slide-animate" data-animation-options="{
                                                'name': 'fadeInUpShorter', 'duration': '1s','delay':'.3s'
                                                }">
                            <h3 class="banner-subtitle text-dark font-weight-normal">
                                Premium
                            </h3>
                            <h2 class="banner-title text-dark text-uppercase ls-25">
                                Chess Sets
                            </h2>
                            <h4 class="banner-price-info text-uppercase font-weight-bold ls-25">
                                Start at <span class="text-secondary ls-25">€165.00</span>
                            </h4>
                            <p class="text-dark font-weight-normal">
                                Get Plus Discount at Chess Shop
                            </p>
                            <a href="demo13-shop.html"
                               class="btn btn-outline btn-dark btn-rounded btn-icon-right">
                                Shop Now
                                <i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Intro Slide 1 -->
                <div class="swiper-slide banner banner-fixed intro-slide intro-slide2 br-sm"
                     style="background-image: url(assets/images/slides/slide02.png); background-color: #D8D8D8;">
                    <div class="banner-content y-50 text-right">
                        <div class="slide-animate" data-animation-options="{
                                                'name': 'fadeInUpShorter', 'duration': '1s','delay':'.3s'
                                                }">
                            <h3 class="banner-subtitle text-dark text-uppercase font-weight-normal lh-1">
                                Custom Handmade
                            </h3>
                            <h2 class="banner-title text-dark text-uppercase ls-25">Chess Tables</h2>
                            <p class="text-default text-uppercase font-weight-bold mb-1">
                                Walnut / Chestnut
                            </p>
                            <h4 class="banner-price-info text-secondary text-uppercase font-weight-bolder lh-1">
                                <sup>€</sup>430<sup>99</sup>
                            </h4>
                            <a href="demo13-shop.html" class="btn btn-outline btn-dark btn-rounded">
                                Start Buying
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Intro Slide 2 -->
                <div class="swiper-slide banner banner-fixed intro-slide intro-slide3 br-sm"
                     style="background-image: url(assets/images/slides/slide03.png); background-color: #EAEAEA;">
                    <div class="banner-content y-50">
                        <div class="slide-animate" data-animation-options="{
                                                'name': 'fadeInUpShorter', 'duration': '1s','delay':'.3s'
                                                }">
                            <h3 class="banner-subtitle text-default font-weight-normal">
                                Stylish Apparel
                            </h3>
                            <h2 class="banner-title text-dark text-uppercase ls-25">
                                Chess Hoodie
                            </h2>
                            <h4 class="banner-price-info font-weight-bold ls-25">
                                Save up to <span class="text-secondary ls-25">30% OFF</span>
                            </h4>
                            <p class="text-default font-weight-normal ml-0">
                                Free returns extended to
                                30 days after delivery
                            </p>
                            <a href="demo13-shop.html"
                               class="btn btn-outline btn-dark btn-rounded btn-icon-right ml-0">
                                Shop Now
                                <i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Intro Slide 3 -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="grid-item grid-item2 banner col-lg-4 col-md-6 height-x2 overlay-zoom overlay-light">
        <figure class="banner-media br-sm">
            <img src="assets/images/griditems/Grid_Item_02.png" alt="Intro Banner" width="498"
                 height="325" style="background-color: #D9D9D9;">
        </figure>
        <div class="banner-content">
            <h3 class="banner-title text-capitalize font-weight-bold">Limited Edition DGT 3000</h3>
            <h5 class="banner-price-info text-default text-uppercase font-weight-normal ls-25">
                Up to
                <span class="text-secondary">35% OFF</span>
            </h5>
            <a href="demo13-shop.html" class="btn btn-white br-xs">
                Shop Now
            </a>
        </div>
    </div>
    <div class="grid-item grid-item5 banner col-lg-4 col-md-6 height-x2 overlay-zoom overlay-light">
        <figure class="banner-media br-sm">
            <img src="assets/images/griditems/Grid_Item_05.png" alt="category" width="498"
                 height="325" style="background-color: #272526;">
        </figure>
        <div class="banner-content x-50 y-50 text-center pl-4 pr-4">
            <h5 class="banner-price-info text-primary text-capitalize font-weight-bold">
                Get 30% off
                Your Entire Order!
            </h5>
            <h3 class="banner-title text-white text-uppercase ls-25">Black Friday Sale</h3>
            <p class="text-center font-weight-normal">
                Use code
                <strong class="text-white text-uppercase">Blkfri40</strong>
                at checkout.
            </p>
            <a href="demo13-shop.html"
               class="btn btn-primary btn-outline btn-rounded btn-icon-right text-white">
                Shop Now
                <i class="w-icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="grid-item grid-item3 banner col-lg-4 col-md-6 height-x1 overlay-zoom overlay-light">
        <figure class="banner-media br-sm">
            <img src="assets/images/griditems/Grid_Item_03.png" alt="Intro Banner" width="499"
                 height="210" style="background-color: #0E0F10;">
        </figure>
        <div class="banner-content y-50">
            <h4 class="banner-subtitle text-lighter text-uppercase">Chess Travel</h4>
            <h3 class="banner-title text-white mb-5">Accessories</h3>
            <h5 class="banner-price-info text-white font-weight-bold mb-0 ls-25">
                <span class="text-uppercase font-size-normal font-weight-normal ls-normal">From</span>
                <sup class="font-weight-bold">€</sup>49<sup class="font-weight-bold">00</sup>
            </h5>
        </div>
    </div>
    <div class="grid-item grid-item4 banner col-lg-4 col-md-6 height-x1 overlay-zoom overlay-light">
        <figure class="banner-media br-sm">
            <img src="assets/images/griditems/Grid_Item_04.png" alt="Intro Banner" width="490"
                 height="210" style="background-color: #EBEBEB;">
        </figure>
        <div class="banner-content y-50">
            <h4 class="banner-subtitle text-primary text-uppercase font-weight-bold">
                Staunton Series
            </h4>
            <h3 class="banner-title text-capitalize text-primary">Chess Sets</h3>
            <hr class="divider">
            <a href="demo13-shop.html" class="btn btn-dark btn-link btn-underline btn-icon-right">
                Shop Now
                <i class="w-icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="grid-space col-1"></div>
</div>
<br />
<!-- End of Intro Banner Group -->
<div class="title-link-wrapper filter-title after-none pt-4 mb-0 appear-animate">
    <h2 class="title mr-auto">Popular Items</h2>
    <ul class="nav-filters list-style-none d-flex align-items-center flex-wrap"
        data-target="#products-1">
        <li><a href="#" class="nav-filter active" data-filter=".accessories">Accessories</a></li>
        <li><a href="#" class="nav-filter" data-filter=".audio">Audio</a></li>
        <li><a href="#" class="nav-filter" data-filter=".cameras">Cameras</a></li>
        <li><a href="#" class="nav-filter" data-filter=".computers">Computers</a></li>
        <li><a href="#" class="nav-filter" data-filter=".smartphones">Smartphones</a></li>
        <li><a href="#" class="nav-filter" data-filter=".tv-video">TV &amp; Video</a></li>
    </ul>
</div>
<div class="row filter-content cols-xl-4 cols-lg-4 cols-sm-3 cols-2 appear-animate" id="products-1">
    <div class="grid-item product-wrap accessories tv-video">
        <div class="product text-center">
            <figure class="product-media">
                <a href="product-default.html">
                    <img src="assets/images/demos/demo13/products/2-1-1.jpg" alt="Product"
                         width="300" height="337">
                    <img src="assets/images/demos/demo13/products/2-1-2.jpg" alt="Product"
                         width="300" height="337">
                </a>
                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                       title="Add to cart"></a>
                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                       title="Add to wishlist"></a>
                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                       title="Add to Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                       title="Quick View"></a>
                </div>
            </figure>
            <div class="product-details">
                <h4 class="product-name"><a href="product-default.html">USB Charger</a></h4>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 100%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                </div>
                <div class="product-price">
                    <ins class="new-price">$17.00</ins><del class="old-price">$20.00</del>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item product-wrap cameras computers">
        <div class="product text-center">
            <figure class="product-media">
                <a href="product-default.html">
                    <img src="assets/images/demos/demo13/products/2-2-1.jpg" alt="Product"
                         width="300" height="337">
                    <img src="assets/images/demos/demo13/products/2-2-2.jpg" alt="Product"
                         width="300" height="337">
                </a>
                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                       title="Add to cart"></a>
                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                       title="Add to wishlist"></a>
                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                       title="Add to Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                       title="Quick View"></a>
                </div>
            </figure>
            <div class="product-details">
                <h4 class="product-name">
                    <a href="product-default.html">Red Cap Sound Marker</a>
                </h4>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 60%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                </div>
                <div class="product-price">
                    <ins class="new-price">$13,535.00</ins>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item product-wrap audio smartphones accessories">
        <div class="product text-center">
            <figure class="product-media">
                <a href="product-default.html">
                    <img src="assets/images/demos/demo13/products/2-4-1.jpg" alt="Product"
                         width="300" height="337">
                    <img src="assets/images/demos/demo13/products/2-4-2.jpg" alt="Product"
                         width="300" height="337">
                </a>
                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                       title="Add to cart"></a>
                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                       title="Add to wishlist"></a>
                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                       title="Add to Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                       title="Quick View"></a>
                </div>
            </figure>
            <div class="product-details">
                <h4 class="product-name"><a href="product-default.html">Headkerchief</a></h4>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 80%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                </div>
                <div class="product-price">
                    <ins class="new-price">$27.00</ins><del class="old-price">$28.99</del>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item product-wrap tv-video cameras smartphones">
        <div class="product text-center">
            <figure class="product-media">
                <a href="product-default.html">
                    <img src="assets/images/demos/demo13/products/2-5-1.jpg" alt="Product"
                         width="300" height="337">
                    <img src="assets/images/demos/demo13/products/2-5-2.jpg" alt="Product"
                         width="300" height="337">
                </a>
                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                       title="Add to cart"></a>
                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                       title="Add to wishlist"></a>
                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                       title="Add to Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                       title="Quick View"></a>
                </div>
            </figure>
            <div class="product-details">
                <h4 class="product-name"><a href="product-default.html">Best Travel Bag</a></h4>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 80%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                </div>
                <div class="product-price">
                    <ins class="new-price">$80.00</ins><del class="old-price">$83.00</del>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item product-wrap computers audio">
        <div class="product text-center">
            <figure class="product-media">
                <a href="product-default.html">
                    <img src="assets/images/demos/demo13/products/2-6-1.jpg" alt="Product"
                         width="300" height="337">
                    <img src="assets/images/demos/demo13/products/2-6-2.jpg" alt="Product"
                         width="300" height="337">
                </a>
                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                       title="Add to cart"></a>
                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                       title="Add to wishlist"></a>
                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                       title="Add to Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                       title="Quick View"></a>
                </div>
            </figure>
            <div class="product-details">
                <h4 class="product-name">
                    <a href="product-default.html">Magenetic Charge Box</a>
                </h4>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 80%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                </div>
                <div class="product-price">
                    <ins class="new-price">$75.65</ins><del class="old-price">$79.00</del>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item product-wrap accessories cameras">
        <div class="product text-center">
            <figure class="product-media">
                <a href="product-default.html">
                    <img src="assets/images/demos/demo13/products/1-7-1.jpg" alt="Product"
                         width="300" height="337">
                    <img src="assets/images/demos/demo13/products/1-7-2.jpg" alt="Product"
                         width="300" height="337">
                </a>
                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                       title="Add to cart"></a>
                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                       title="Add to wishlist"></a>
                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                       title="Add to Compare"></a>
                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                       title="Quick View"></a>
                </div>
            </figure>
            <div class="product-details">
                <h4 class="product-name"><a href="product-default.html">Men's Suede Belt</a></h4>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 80%;"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                </div>
                <div class="product-price">
                    <ins class="new-price">$25.12</ins><del class="old-price">$26.49</del>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-space col-xl-2 col-1"></div>
</div>
<!-- End of Grid Product Wrapper -->
